
* {
    box-sizing: border-box;
}


.item-list {
    display: grid;
    grid-auto-columns: 25%;
    row-gap: 5px;
    padding: 0px;
    text-align: center;
    color: ivory;
    background-color: darkslategrey;

}

.item-list li.odd{
    grid-column-start: 1;
    grid-column-end: 3;
}

.item-list li.even {
    grid-column-start: 3;
    grid-column-end: 5;
}

.item-list a {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    font-size:x-large;
}

.outer-shell {
    padding:20px;
    background-color: #474747;
}

.inner-shell {
    width:75%;
    padding:10px;
    text-align: center;
    margin:auto;
    background-color: #96a8ff;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a:visited {
    color: white;
}

a:hover {
    color: greenyellow;
    background-color: darkgoldenrod;
}

a:active {
    color: green;
}

a {
    color: lightgray;
    text-decoration: none;
}