/*
* {
    border: 2px solid red;
}
*/

.item-list {
    display: grid;
    grid-auto-columns: 25%;
    padding: 0px;
    text-align: center;
    color: ivory;
    background-color: darkslategrey;
    box-sizing: border-box;
}

.item-list li.odd{
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-list li.even {
    grid-column-start: 3;
    grid-column-end: 5;
    padding-top: 10px;
    padding-bottom: 10px;
}


.outer-shell {
    padding:20px;
    background-color: #474747;
}

.inner-shell {
    width:75%;
    padding:10px;
    text-align: center;
    margin:auto;
    background-color: #96a8ff;
    border: 2px solid blue;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a:visited {
    color: white;
}

a:hover {
    color: greenyellow;
}

a {
    color: lightgray;
}